.container-form{
    padding: 40px 40px 0px 40px;
}

.title-form{
    padding-bottom: 30px;
}

.content-form{
    display: flex;
    gap: 25px;
    padding-bottom: 40px;
}



#form-especie {
    width: 40%;
}

#form-sexo{
    width: 25%;
}

#form-porte{
    width: 28.8%;
}

#form-estados{
    width: 40%;
}

.card-container{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1em;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f4f4f4;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #ddd;
}
